/* start variables */


/* end variables */
/* global rules */
* {
    box-sizing: border-box;
}
body {
    font-family:"Work Sans", sans-serif;
}
/* end global rules */

/* start container */


.parent {
    background-color: #EEE;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

/* media queries */

/* small */
@media (min-max:768px){
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}