/* start variables */
:root {
    --main-color: #10CAB7;
    --secondary-color:#2C4755;
    --section-padding: 60px;

}

/* end variables */
/* start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0  0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
     margin-top: -10px;
    }
}
/* end components */
/* global rules */
* {
    box-sizing: border-box;
}
body {
    font-family:"Work Sans", sans-serif;
}


.parent {
    background-color: #EEE;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

/* media queries */

/* small */
@media (min-max:768px){
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start header */
.header {
    padding: 20px;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;

}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 4px;
}
.header .links .icon span:first-child{
    height: 3px;
    width: 100%;
}

.header .links .icon span:nth-child(2){
    height: 3px;
    width: 60%;
    transition: .3s;
}

.header .links .icon span:last-child{
    height: 3px;
    width: 100%;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 5px;

}
.header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd ;
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}   
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color :white;
    text-align: center;   
}

/* end landing */
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feature {
    padding: 20px;
    text-align: center;
}
.features .feature i {
    color: var(--main-color);
}
.features .feature h3 {
    font-weight: 800;
    margin: 30px 0;

}
.features .feature p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end features */

/* start services section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    
}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;

}
.services .service-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .services .service-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .service-content .srv i {
    color: var(--main-color);
    flex-basis: 60px; 
}
.services .service-content .srv .text{
    flex: 1;
}
.services .service-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .service-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8;
}
.services .service-content .image::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;

}
.services .service-content .image {
    text-align: center;
    position: relative;
}
.services .service-content .image img {
    width: 260px;
}
@media (max-width : 1199px){
    .image-column {
        display: none;
    }
}

/* end services section */